body {
  font-family: Arial, Helvetica, sans-serif;
}

div.wrapper {
  display: grid;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  grid-template-columns: [left-gutter] 1fr [main] 12fr [right-gutter] 1fr;
}

div.main {
  grid-column: main;
  display: grid;
  grid-template-rows: [header] 5vh [intro] 1fr [content] 2fr [footer] 5vh
}

div.intro {
  grid-row: intro;
}

header {
  grid-row: header;
}

main {
  grid-row: content;
}