body {
  font-family: Arial, Helvetica, sans-serif;
}

div.wrapper {
  display: grid;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  grid-template-columns: [left-gutter] 1fr [main] 12fr [right-gutter] 1fr;

  margin: 0;
}

div.main {
  grid-column: main;
  display: grid;
  grid-template-rows: [header] 5vh [intro] 50px [content] 2fr [footer] 5vh
}

div.intro {
  grid-row: intro;
}

header {
  grid-row: header;
  background: pink;
  color: white;

  margin: 0;
  padding-left: .5rem;

  height: auto;
}

main {
  grid-row: content;
}

p.date {
  color: gray;
  font-style: italic;
  font-size: 1vh;
  margin-top: 0;
}

h4.title {
  margin-bottom: 5px;
}